<!-- http://localhost:3000/admin_users -->

<body>
	<div class="page-header" style="background-color: orange;">
		<h1>サンプル　　<small>サブ・テキスト</small></h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="background-color: orange;">
				<h2>サイドバー</h2>
			</div>
			<div class="col-lg-9">
				<h1>ジャンル登録</h1>
				<div class="create">
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="genre_name">ジャンル名</label>
							<input class="form-control" style="width: 300px;" placeholder="ジャンル名">
						</div>
					</form>
					<button class="btn btn-default btn-lg">作成</button>
				</div>
				<table  class="table table-striped">
					<thead>
						<tr>
							<th>全ジャンル</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
					</tbody>
				</table>
				<nav>
					<ul class="pager">
						<li><a href="#">前へ</a></li>
						<li><a href="#">次へ</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</body>