

<header style="width: 100%; height:80px; background-color: pink">
</header>
<h2>お気に入り</h2>

<body>
   <div class="container">
   	　<div class="row">
   		<div class="col-lg-3" style="height: 800px;">
   			<div></div>
   		</div>
   		<div class="col-lg-9">
   	      <div class="container">
		    <div class="row">
		      <div class="col-lg-2" style="margin: 20px 10px 20px 0px;">
		         <%= image_tag 'sample-5.jpg', :width =>'150px', :height =>'150px'%>
		      </div>
			  <div class="col-lg-3">
		          <ul class="list-inline" style="margin: 15px 5px;">
		            <li><strong class="">CD名</strong></li>
		            <li class="">ベストアルバム</li>
		          </ul>
		          <ul class="list-inline" style="margin:  10px 5px;">
			         <li><strong class="">アーティスト名</strong></li>
			         <li class="">乃木坂46</li>
		          </ul>
		          <ul class="list-inline" style="margin:  10px 5px;">
			         <li><strong class="">特典</strong></li>
			         <li class="">あり</li>
		          </ul>
		          <ul class="list-inline" style="margin: 10px 5px;">
		            <li><strong class="">評価</strong></li>
		            <li class="text-danger">♡♡♡♡♡</li>
		          </ul>
			       <ul class="list-inline" style="margin: 15px 5px;">
	          	    <li class=""><strong class="">数量</strong></li>
	          	    <li class="">100000000000枚</li>
			      </ul>
			  </div>
			  <div class="col-sm-2" >
			       <ul class="list-inline" style="margin-top: 10px;">
			       	<button class="btn btn-default">カート</button>
			       	<button class="btn btn-default">削除</button>
			       </ul>
			       <ul class="list-inline">
			     	 <li style="margin-top: 110px;"><strong>￥</strong></li>
			     	 <li>10000</li>
			       </ul>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-lg-2" style="margin: 20px 10px 20px 0px;">
		         <%= image_tag 'sample-5.jpg', :width =>'150px', :height =>'150px'%>
		      </div>
			  <div class="col-lg-3">
		          <ul class="list-inline" style="margin: 15px 5px;">
		            <li><strong class="">CD名</strong></li>
		            <li class="">ベストアルバム</li>
		          </ul>
		          <ul class="list-inline" style="margin:  10px 5px;">
			         <li><strong class="">アーティスト名</strong></li>
			         <li class="">乃木坂46</li>
		          </ul>
		          <ul class="list-inline" style="margin:  10px 5px;">
			         <li><strong class="">特典</strong></li>
			         <li class="">あり</li>
		          </ul>
		          <ul class="list-inline" style="margin: 10px 5px;">
		            <li><strong class="">評価</strong></li>
		            <li class="text-danger">♡♡♡♡♡</li>
		          </ul>
			       <ul class="list-inline" style="margin: 15px 5px;">
	          	    <li class=""><strong class="">数量</strong></li>
	          	    <li class="">100000000000枚</li>
			      </ul>
			  </div>
			  <div class="col-sm-2" >
			       <ul class="list-inline" style="margin-top: 10px;">
			       	<button class="btn btn-default">カート</button>
			       	<button class="btn btn-default">削除</button>
			       </ul>
			       <ul class="list-inline">
			     	 <li style="margin-top: 110px;"><strong>￥</strong></li>
			     	 <li>10000</li>
			       </ul>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-lg-2" style="margin: 20px 10px 20px 0px;">
		         <%= image_tag 'sample-5.jpg', :width =>'150px', :height =>'150px'%>
		      </div>
			  <div class="col-lg-3">
		          <ul class="list-inline" style="margin: 15px 5px;">
		            <li><strong class="">CD名</strong></li>
		            <li class="">ベストアルバム</li>
		          </ul>
		          <ul class="list-inline" style="margin:  10px 5px;">
			         <li><strong class="">アーティスト名</strong></li>
			         <li class="">乃木坂46</li>
		          </ul>
		          <ul class="list-inline" style="margin:  10px 5px;">
			         <li><strong class="">特典</strong></li>
			         <li class="">あり</li>
		          </ul>
		          <ul class="list-inline" style="margin: 10px 5px;">
		            <li><strong class="">評価</strong></li>
		            <li class="text-danger">♡♡♡♡♡</li>
		          </ul>
			       <ul class="list-inline" style="margin: 15px 5px;">
	          	    <li class=""><strong class="">数量</strong></li>
	          	    <li class="">100000000000枚</li>
			      </ul>
			  </div>
			  <div class="col-sm-2" >
			       <ul class="list-inline" style="margin-top: 10px;">
			       	<button class="btn btn-default">カート</button>
			       	<button class="btn btn-default">削除</button>
			       </ul>
			       <ul class="list-inline">
			     	 <li style="margin-top: 110px;"><strong>￥</strong></li>
			     	 <li>10000</li>
			       </ul>
		      </div>
		    </div>
		    <nav style="margin-left: 180px;">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="前のページへ">
								<span aria-hidden="true">«</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="次のページへ">
								<span aria-hidden="true">»</span>
							</a>
						</li>
					</ul>
		        </nav>
	      </div>
	    </div>
      </div>
   </div>
</body>
