

<!--
<body>
	<div class="page-header" style="background-color: orange;">
		<h1>サンプル　　<small>サブ・テキスト</small></h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="background-color: orange;">
				<h2>サイドバー</h2>
			</div>
			<div class="col-lg-9">
				<h1 class="page_title">ディスク・曲順・曲名登録</h1>
				<form action="" method="post" class="form-horizontal">
					<div class="col-lg-3 disk">
						<div class="add">
							<form class="form-inline">
							<label for="input_disk_name" class="control-label">ディスク名</label>
							<button class="btn btn-default">追加</button>
								<div class="form-group">
									<label class="sr-only" for="disk_name">ディスク名</label>
									<input class="form-control disk_name" style="width: 200px;" placeholder="ディスク名">
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-9 song">

						<div class="form-group">
							<label for="input_user_name" class="col-lg-2 control-label">名前：</label>
							<div class="col-lg-10">
								<input type="string" class="form-control" placeholder="名前" /><br />
							</div>
						</div>

						<div class="form-group">
							<label for="input_phonetic" class="col-lg-2 control-label">フリガナ：</label>
							<div class="col-lg-10">
								<input type="string" class="form-control" placeholder="フリガナ" /></label><br />
							</div>
						</div>

						<div class="form-group">
							<label for="input_postal_code" class="col-lg-2 control-label">郵便番号：</label>
							<div class="col-lg-10">
								<input type="string" class="form-control" placeholder="郵便番号" /></label><br />
							</div>
						</div>

						<div class="form-group">
							<label for="input_address" class="col-lg-2 control-label">住所：</label>
							<div class="col-lg-10">
								<input type="string" class="form-control" placeholder="住所" /></label><br />
							</div>
						</div>

						<div class="form-group">
							<label for="input_phone_number" class="col-lg-2 control-label">電話番号：</label>
							<div class="col-lg-10">
								<input type="string" class="form-control" placeholder="電話番号" /></label><br />
							</div>
						</div>

						<div class="form-group">
							<label for="input_email" class="col-lg-2 control-label">メールアドレス：</label>
							<div class="col-lg-10">
								<input type="string" class="form-control" placeholder="メールアドレス" /></label><br />
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-offset-2 col-lg-10">
								<button type="submit" class="btn btn-primary btn-block">登録</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
 -->