<header style="width: 100%; height:80px; background-color: pink">
</header>
<body>
	<div>
		<div Class="box2">
	      <div class="row text-center" style="margin: 0px 0px 50px 250px; padding-top: 50px;">
	      	<div class="col-sm-2 h4"><strong>お届け先</strong></div>
		      <div class="input-group col-sm-2"style="width: 500px;">
				<input type="text" class="form-control" placeholder="お届け先入力">
				<span class="input-group-btn">
				    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" role="menu">
					  <li><a href="#">東京</a></li>
				      <li><a href="#">神奈川</a></li>
					  <li><a href="#">埼玉</a></li>
				    </ul>
		        </span>
	          </div>
           </div>
          <div class="row text-center" style="margin-left: 250px;">
          	<div class="col-sm-2 h4"><strong>配送</strong></div>
	          <div class="input-group col-sm-2" style="width: 500px;">
				<input type="text" class="form-control" placeholder="配送先入力">
				<span class="input-group-btn">
				    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" role="menu">
					  <li><a href="#"></a></li>
				      <li><a href="#">リンクのリスト２</a></li>
					  <li><a href="#">リンクのリスト３</a></li>
				    </ul>
		        </span>
	          </div>
          </div>
          <div class="row text-center" style="margin: 50px 0px 0px 250px;">
          	<div class="col-sm-2 h4"><strong>支払い方法</strong></div>
            <div class="input-group col-sm-2" style="width: 500px;">
			  <input type="text" class="form-control" placeholder="支払い方法入力">
			  <span class="input-group-btn">
			     <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				 <span class="caret"></span>
			     </button>
			     <ul class="dropdown-menu" role="menu">
				   <li><a href="#">現金</a></li>
			       <li><a href="#">クレジット</a></li>
				   <li><a href="#"></a></li>
			     </ul>
	           </span>
            </div>
          </div>
		</div>
	    <div>
		  <table class="table">
			<tr>
              <th class="h2" style="width: 200px; padding-left: 150px;">商品名aa</th>
              <th class="h2" style="width: 200px; padding-left: 150px;">数量</th>
              <th class="h2" style="width: 200px; padding-left: 150px;">金額</th>
			</tr>
			<%= @cart_items.each do |cart_item| %>
			<tr>
				<td><%= cart_item.product.airtist_name %></td>
				<td><%= cart_item.number_of_sheets %></td>
				<td><%= cart_item.product.price %></td>
			</tr>
			<% end %>
		  </table>
	    </div>
	    <div style="margin: 15px 0px 15px 1000px;">
	      <div class="h4">合計</div>
	      <div class="h4">￥1000000</div>
	    </div>
        <div style="margin: 0px 0px 15px 1000px;">
          <button type="button" class="btn btn-primary btn-lg" style="width: 150px;">購入</button>
	    </div>
    </div>
</body>
