<!-- http://localhost:3000/admin_users -->

<body>
	<div class="page-header" style="background-color: orange;">
		<h1>サンプル　　<small>サブ・テキスト</small></h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="background-color: orange;">
				<h2>サイドバー</h2>
			</div>
			<div class="col-lg-9">
				<div class="search">
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="user_id user_name">会員ID・名前</label>
							<input class="form-control" style="width: 300px;" placeholder="会員ID・名前">
						</div>
					</form>
					<div class="form-group sort">
						<label class="sr-only" for="InputSelect">並び替え</label>
						<select class="form-control" style="width: 70px;" id="InputSelect">
							<option>昇順</option>
							<option>降順</option>
						</select>
					</div>
					<button class="btn btn-default btn-lg">検索</button>
				</div>
				<table  class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>会員ID</th>
							<th>名前</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
							</td>
							<td>
							</td>
							<td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>