// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.box2 {

	 background-image: url(img/background.png);
	 height: 200px;

}

.botan {
	 box-shadow:5px 5px 10px;
}
.show1 {
	 border-left: solid 10px #AAAAAA;
}

.cart_item img{
	 width: 250px;
	 height:250px;
}

.linkb {
	 color: #000000;
     a:hover { color: #C0C0C0; }
     text-decoration: none;
}

.form-control {
	 width: 200px;
	 height:40px;
}