// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_title {
padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
color: #494949;/*文字色*/
background: #f4f4f4;/*背景色*/
border-left: solid 5px #7db4e6;/*左線*/
border-bottom: solid 3px #d7d7d7;/*下線*/
}

.add{
	margin: 30px 0;
	text-align: center;
}

.form-inline{
	display: inline-block;
}

.disk_name{
	margin-top: 15px;
}

.btn{
	display: inline-block;
	margin-left: 15px;
}

.admin_song_title{
  margin-top: 20px;
}

.admin_song_form{
  text-align: center;
  margin-top: 20px;

}