// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  background-image: image-url("Artboard.png");
}

.visual-img1{
	background-image: image-url("visual.png");
}
.visual-img2{
	background-image: image-url("banner.png");
}
.visual-img3{
	background-image: image-url("visual.png");
}
.visual-img4{
	background-image: image-url("banner.png");
}
.visual-img5{
	background-image: image-url("visual.png");
}

.evaluation{
	display: flex;
}
